[user]
	email = shenkit108+1@gmail.com
	name = Shen-Kit Hia
[init]
	defaultBranch = main
[safe]
	directory = /mnt/shared/coding/java/chineseLearningApp/
	directory = /mnt/shared/coding/java/chineseLearningApp
	directory = /mnt/shared/coding/projects/personal-website/
	directory = /mnt/shared/coding/
	directory = /mnt/shared/coding/projects/personal-website/
	directory = /mnt/shared/main
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
