snippet arr-swap swap array values
	${1:arr}[${2:a}], $1[${3:b}] = $1[$3], $1[$2]

snippet lc leetcode template
	"""
	problem: $1
	================================================================================
	# Problem Description

	$2

	================================================================================

	# Solution


	## Complexity Analysis

	:Time Complexity: 
	:Space Complexity: 

	"""

	from typing import ${3:List}

	$0


